@import '../../../scss/colors.scss';

.c-jokeItemsHeader {
    background-color: $green;
    padding         : 15px;
    border-radius   : 4px;
    color           : $white;
    margin   : 50px 0 15px;
    box-shadow      : 0 .125rem .25rem rgba(0, 0, 0, .075);

    span {
        display: block;
    }

    &__title {
        font-size  : 1rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    &__jokes-count {
        font-size: .7rem;
    }
}